@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(217, 19%, 24%);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.click:hover {
  -webkit-box-shadow: -1px 1px 5px 10px hsl(150, 100%, 66%);
  -moz-box-shadow: -1px 1px 5px 10px hsl(150, 100%, 66%);
  box-shadow: -1px 1px 5px 10px hsl(150, 100%, 66%);
}
